- classes = (locals[:classes] || []) + %w(card article)
- classes << 'featured' if locals[:featured]
div class=classes
  .card-image.is-hidden-mobile
    = link_to article.url, class: 'summary'
      figure.image.is-2by1
        - if article.data.image
          img src=(asset_url article.data.image, 'img/blog') alt='feature image for article'
        - else
          img src=%(http://placeskull.com/760/380/#{article.data.image_color}/#{article.data.image_id}/0) alt='feature image for article'
  .card-content
    = link_to article.url, class: 'summary'
      time datetime=(to_datetime article.date) = format_date article.date
      h2.article-title = article.title
      p.excerpt = article.summary
    / NOTE always add tags container since it's used to cover overflow text
    / QUESTION should is-condensed just be the default for normal-sized tags?
    p.tags.is-condensed
      - article.tags.sort.each do |tag|
        = link_to tag, (tag_path tag), class: 'tag is-light has-icon'
