nav.navbar class=(locals[:color] ? %(is-#{color}) : nil) role='navigation' aria-label='main navigation'
  .container
    .navbar-brand
      = link_to (data.site.url || (url_for 'index')), class: 'navbar-item'
        img src=(asset_url 'img/logo.svg') alt='OpenDevise'
      .navbar-burger.burger data-target='topbar-nav'
        - 3.times do
          span
    #topbar-nav.navbar-end.navbar-menu
      - data.navbar.items.each do |item|
        - if (item_page_id = item.page_id)
          - item_is_active = item_page_id == (current_page_id = current_page.page_id) || \
                ((item_page_id.start_with? 'blog/') && (current_page_id.start_with? 'blog/'))
          = link_to item.title, item_page_id, class: (['navbar-item', (item_is_active ? 'is-active' : nil)].compact.join ' ')
        - else
          / Q: should we wrap these in span.navbar-item?
          = link_to item.title, item.url, class: 'navbar-item external'
