= wrap_layout :layout do
  header.header role='banner'
    = partial '/_partials/navbar', locals: { color: 'dark' }
  main role='main'
    section.section.is-small
      .columns.is-gapless.is-centered
        article.blog.column
          header.meta
            div.avatar by
            div.byline
              - if (author = current_article.data.author)
                span.author = author
              time datetime=(to_datetime current_article.date) = format_date current_article.date
          h1 = current_article.title
          .body
            = yield
          - unless current_article.tags.empty?
            footer.tags
              - current_article.tags.sort.each do |tag|
                = link_to tag, (tag_path tag), class: 'tag is-light is-medium has-icon'
    section.section.pager.is-small
      .container
        span.prev
          - if (prev_article = current_article.article_previous)
            = link_to '<i class="fa fa-2x fa-chevron-left"></i>', prev_article
        span.next
          - if (next_article = current_article.article_next)
            = link_to '<i class="fa fa-2x fa-chevron-right"></i>', next_article
