article.blog {
  header {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    .avatar {
      background: $grey-lighter;
      width: 2.75rem;
      height: 2.75rem;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $prose-family;
      font-style: italic;
      border-radius: 100%;
      font-size: 1.625rem;
      margin-right: 0.5rem;
    }
    .byline {
      font-family: $body-family;
      line-height: 1;
      font-size: 1rem;
      span,
      time {
        color: $grey-dark;
        display: block;
      }
      time {
        color: $grey;
        font-size: 0.875rem;
        //font-weight: $weight-light;
      }
      span.author {
        font-weight: $weight-semibold;
        margin-bottom: 0.25em;
      }
    }
  }
  footer.tags {
    font-family: $family-primary;
  }
}

.pager {
  .container {
    display: flex;
    justify-content: space-between;
  }

  a {
    opacity: 0.25;
    &:hover {
      opacity: 1;
    }
  }
}
