---
title: Support
---
header.header role='banner'
  = partial '/_partials/navbar', locals: { color: 'dark' }
section.hero.category.is-white
  .hero-body
    .container.has-text-centered
      h1.title.is-3.is-spaced Support
      h1.subtitle.is-1 We’re here to help you succeed.
      .columns.is-centered.desc
        .column.is-10
          p.is-size-5 Our support packages ensure the continuous performance of your Antora deployments. We’ll help you solve issues with Antora configuration and deployment, Asciidoctor extensions, and the AsciiDoc syntax.
section.section.carte
  .container
    .columns.is-multiline.is-variable.is-8
      .column.is-half
        h2.title.heading.is-spaced Pro Support
        p.subtitle.is-5.is-prose Production support that keeps your Antora pipelines running smoothly and enhances your documentation capabilities with expanded Antora assistance.
      .column.is-half
        h2.title.heading.is-spaced Premier Support
        p.subtitle.is-5.is-prose Advanced, expedited support from a dedicated team for complex and critical documentation systems.
section.section
  .container
    h2.title.is-spaced Compare Our Antora Support Packages
    p.subtitle We offer support packages that align with the complexities of your documentation.
    table.table.is-striped.is-fullwidth
      thead
        tr
          th Feature
          th Pro Support
          th Premier Support
      tbody
        tr
          th Hours of Operation
          td 8 Hours/Day, Monday - Friday
          td 8 Hours/Day, Monday - Friday
        tr
          th Extended Hours &amp; Weekend Coverage
          td: i.fa.fa-minus.fa-sm
          td: i.fa.fa-check.fa-sm
        tr
          th Number of Contacts
          td 1 Named Contact
          td 3 Named Contacts
        tr
          th Access Method
          td Web
          td Web
        tr
          th Response Method
          td Web/Email/Chat
          td Web/Email/Chat/Voice
        tr
          th Response Times
          td 16 Business Hours
          td Priority 1:  1 Business Hour <br>
             Priority 2:  4 Business Hours <br>
             Priority 3: 12 Business Hours <br>
             Priority 4: 12 Business Hours
        tr
          th Update Assistance
          td: i.fa.fa-check.fa-sm
          td: i.fa.fa-check.fa-sm
        tr
          th Antora Components Covered
          td: i.fa.fa-check.fa-sm
          td: i.fa.fa-check.fa-sm
        tr
          th Asciidoctor Extensions Covered
          td: i.fa.fa-check.fa-sm
          td: i.fa.fa-check.fa-sm
        tr
          th Third-Party Integrations Covered
          td: i.fa.fa-minus.fa-sm
          td: i.fa.fa-check.fa-sm
        tr
          th Antora Pipeline Audits
          td: i.fa.fa-minus.fa-sm
          td: i.fa.fa-check.fa-sm
        tr
          th Dedicated Expert Support Team
          td: i.fa.fa-minus.fa-sm
          td: i.fa.fa-check.fa-sm
      tfoot
        tr
          th Price
          th $14,000/Year
          th $30,000/Year
= partial '_partials/contact-support'
