---
title: About
---
header.header role='banner'
  = partial '/_partials/navbar', locals: { color: 'dark' }
section.hero.about.is-white
  .hero-body
    .container
      h1.title
        /span.line> We’re an agile team of writers, developers, &amp; system architects.
        span.line> We’re an experienced team of writers, system architects, &amp; developers.
        /span.line We help organizations achieve faster growth though better documentation.
        span.line We help organizations produce documentation their users adore.
section.section.serve
  .container
    p.title OpenDevise started in 2013 at the foot of the Rockies in Denver, Colorado, but we live online and work with clients from around the globe.
section.section
  .container
    .columns.is-centered
      .column.is-one-quarter.def
        p.title open
        p.subtitle.has-text-grey-lighter adjective \ ˈō-pən \
        p.body to come into view; accessible; not obstructed; straightforward
      .column.is-one-quarter.is-offset-2.def
        p.title de·vise
        p.subtitle.has-text-grey-lighter verb \ di-ˈvīz \
        /p.body plan, plot, invent new combinations or applications from existing principles or ideas
        /p.body to plot, plan, or arrange in the mind; imagine; invent; design
        p.body to invent from existing principles or ideas; imagine; plot; plan
section#sarah.hero.bio.is-medium.is-dark
  .hero-body
    .container
      .columns
        .column.is-half
          h2.name Sarah White
          h3.role Founder
          .story
            = Asciidoctor.convert_file 'data/bio/sarah.adoc', to_file: false, safe: :safe, attributes: 'icons=font'
section#dan.hero.bio.is-medium.is-primary
  .hero-body
    .container
      .columns
        .column.one-half.is-offset-half
          h2.name Dan Allen
          h3.role Founder
          .story
            = Asciidoctor.convert_file 'data/bio/dan.adoc', to_file: false, safe: :safe, attributes: 'icons=font'
= partial '_partials/contact'
