---
renderer_options:
  :format: :xml
  :pretty: false
---
- feed_title = data.site.blog.title || data.site.title
- feed_desc = data.site.blog.description || data.site.description
- feed_author = data.site.author
- feed_uri = to_absolute_uri (url_for blog.options.prefix)
doctype xml
feed xmlns='http://www.w3.org/2005/Atom' xml:lang='en-US'
  link rel='self' href=(to_absolute_uri current_page.url) type='application/atom+xml'
  link rel='alternate' href=feed_uri type='text/html'
  - unless blog.articles.empty?
    updated = to_datetime blog.articles.first.date
  id = feed_uri
  title = feed_title
  subtitle = feed_desc
  author
    name = feed_author
  - blog.articles[0..10].each do |article|
    entry
      - article_absuri = to_absolute_uri article.url
      title = article.title
      link rel='alternate' href=article_absuri type='text/html'
      published = to_datetime article.date
      /updated = to_datetime (File.mtime article.source_file)
      updated = to_datetime article.date
      id = article_absuri
      author
        name = article.data.author
      - article.tags.sort.each do |tag|
        category term=tag
      / TODO fully-qualify URLs in article (and summary)
      content type='html'
        |<![CDATA[
        = article.body.gsub %r/<(a href|img src)="(\/[^"]+)"/, %(<\\1="#{to_absolute_uri '\2'}")
        |]]>
      summary type='html' = article.summary
      - if (article_img = article.data.image)
        media:thumbnail xmlns:media='http://search.yahoo.com/mrss/' url=(to_absolute_uri (asset_url article_img, 'img/blog'))
